{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
 <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if cafe_id %}
            <h1>Edit Cafe</h1>
            <span class="subheading">Please change what do you think it's wrong</span>
            {% else %}
            <h1>New Cafe</h1>
            <span class="subheading">Add your new Cafe</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ wtf.quick_form(form, novalidate='True', button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>

{% endblock %}